<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
</head>
<body>
    <h1>Contatos</h1>
    <h3>Esta é a página de contatos do nosso site.</h3> 
    <p>Nossos contatos estão disponíveis abaixo:</p>   
    <ul>
        <li>Nome: José Carlos Oliveira</li>
        <li>Email: oliveira@sercomtel.com.br</li>
        <li>Telefone: (43) 9.9633-0421</li>  
        <li>Endereço: Rua Anhanguera, 146, Londrina, PR</li>
    </ul> 
</body>
</html>